<div  class="fixed-plugin display-row-center" data-aos="fade-up" data-aos-anchor-placement="center-bottom" data-aos-duration="800">
    <div class=" row display-row-center dropdown show-dropdown open show">
            <a  href="https://api.whatsapp.com/send?phone=593 987593372&text=Saludos,%20desearía%20obtener%20más%20información%20acerca%20de%20los%20servicios%20que%20brindan."
            target="_blank">
               <img class="logo-whatsapp" width="100%" src="../../../assets/img/Logo Whatsapp Flotante.svg">

            </a>
    </div>
</div>
