@font-face {
  font-family: "Exo-VariableFont_wght";
  src: url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype"),
    url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Bold";
  src: url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Regular";
  src: url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Light";
  src: url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-ExtraBold";
  src: url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-Bold";
  src: url("/../../assets/fonts/Exo-Bold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ************************************************** */
/*SECTIONS BACKGROUND*/


.section-one-background {
  background-image: url("/../../assets/img/Inicio.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 50em;
}

.background-services-2 {
  background-image: url("/../../assets/img/Servicios-elemento1.svg");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 !important;
  padding: 0 !important;
}
.background-services-1 {
  background-image: url("/../../assets/img/Servicios elemento2.svg");
  background-repeat: no-repeat;
  background-position: left;
  margin: 0 !important;
  padding: 0 !important;
}

.background-contacts{
  background-image: url("/../../assets/img/Contactos Elemento1.svg");
  background-repeat: no-repeat;
  background-position-x: 60%; 
  background-position-y: 4rem;

  margin: 0 !important;
  padding: 0 !important;}

/**************************************************** */

.container-sm {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: auto;
  margin-left: auto;
}

.control-label{
  font-size: calc(0.85em + 0.85vw);
  font-family: "HindMadurai-Regular";
  color: #006b66;
}

.contacts-subtitle{
  font-size: calc(0.85em + 0.85vw);
  font-family: "Exo-Bold";
  color: #c2c258;
}

.form-control {
  background: no-repeat center bottom, center calc(100% - 1px);
  background-size: 0 100%, 100% 100%;
  border: solid 1px;
  height: 36px;
  padding-left: 25px;
  padding-right: 0;
  border-radius: 200px;
  border-color: #c5c5c5;
  font-size: 14px;
}

.img-location-title {
  position: relative;
  top: -30px;
  left: 17px;
}

.principal-title {
  font-size: calc(2em + 2vw);
  font-family: "Exo-Bold";
}

.principal-title2 {
  font-size: calc(1.5em + 1.5vw);
  font-family: "Exo-Bold";
}

.principal-subtitle {
  font-size: calc(0.8em + 0.8vw);
  font-family: "HindMadurai-Regular";
}
.principal-subtitle-serv {
  font-size: calc(0.8em + 0.8vw);
  font-family: "HindMadurai-Regular";
}

.principal-subtitle-serv1 {
  font-size: calc(0.8em + 0.8vw);
  font-family: "HindMadurai-Regular";
  color: #00504c;
}

.logo-img-cma {
  /* position: relative;
  top: 80px;
  left: 60px;
  margin-left: auto;
  margin-right: auto; */
  width: 80%;
}

.display-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}

.btn-light {
  color: white;
  background-color: #c2c258;
  border-radius: 40px;
  font-family: "Exo-Bold";
  font-size: calc(0.625em + 0.625vw);
  margin-top: 10px;
}

.rectangle {
  height: 8px;
  width: 100px;
  background-color: #c2c258;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.rectangle-quienes-somos {
  height: 8px;
  width: 100px;
  background-color: #c2c258;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
  right: -175px;
  top: -45px;
}

.rectangle-products {
  height: 8px;
  width: 100px;
  background-color: #c2c258;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
  left: 270px;
  top: -45px;
}

.rectangle-directory{
  height: 8px;
  width: 100px;
  background-color: #c2c258;
  border-radius: 40px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
  position: relative;
  left: 100px;
  top: -45px;
}

.title-services {
  font-size: calc(1.4em + 1.4vw);
  font-family: "Exo-Bold";
  padding-top: 25px;
}

.title-directory {
  font-size: calc(0.8em + 0.8vw);
  font-family: "Exo-Bold";
  color: #00504c;
}
.subtitle-directory {
  font-size: calc(0.8em + 0.8vw);
  font-family: "HindMadurai-Regular";
  color: #c2c258;
}

.subtitle-services {
  font-size: calc(1.3em + 1.3vw);
  font-family: "Exo-Bold";
  color: #00504c;
}

.img-left {
  position: relative;
  right: -280px;
  top: 65px;
  z-index: 1000;
  width: 450px;
}

.img-right {
  position: relative;
  left: -160px;
  top: 150px;
  z-index: 1000;
  width: 450px;
}
.cma-img-right {
  position: relative;
  right: -950px;
  top: -450px;
  z-index: 1000;
  width: 230px;
}

.div-circle {
  background-image: url("/../../assets/img/Mesa de trabajo 38.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}

.div-circle-1 {
  background-image: url("/../../assets/img/Mesa de trabajo 39.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-2 {
  background-image: url("/../../assets/img/Mesa de trabajo 40.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-3 {
  background-image: url("/../../assets/img/Mesa de trabajo 41.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-4 {
  background-image: url("/../../assets/img/Mesa de trabajo 42.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-5 {
  background-image: url("/../../assets/img/Mesa de trabajo 43.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-6 {
  background-image: url("/../../assets/img/Mesa de trabajo 44.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-7 {
  background-image: url("/../../assets/img/Mesa de trabajo 45.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-8 {
  background-image: url("/../../assets/img/Mesa de trabajo 46.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}
.div-circle-9 {
  background-image: url("/../../assets/img/Mesa de trabajo 47.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}

.div-circle-10 {
  background-image: url("/../../assets/img/Mesa de trabajo 48.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}

.div-circle-11 {
  background-image: url("/../../assets/img/Mesa de trabajo 49.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}

.div-circle-12 {
  background-image: url("/../../assets/img/Mesa de trabajo 50.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin: auto;
  box-shadow: 0px 7px 29px 0px rgb(168, 168, 168);
}

.display-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

/*BLOG STYLES*/
.card-post {
  height: 70vh;
  border: none;
  border-radius: 0%;
  /* width: 50vh; */
  /* margin-right: 25rem; */
}
.w-85{
  max-width: 85%;
}
.img-card-border{
  border-bottom: 3vh solid #c2c258;
  margin-bottom: 8%;
}
.img-card-img{
  width: 100% !important; 
  height: 300px !important;
}
.title{
 color: black;
 font-size: calc(0.7em + 0.7vw);
 /* font-size: 3.2vh; */
 font-family: "Exo-ExtraBold";
 text-transform: uppercase;
}
.text{
  font-family: "HindMadurai-Regular";
  font-size: calc(0.7em + 0.7vw);
  /* font-size: 3.2vh; */
  /* margin-right: 5rem; */
}
.btn-ver-Mas
{
  width: 20vh;
  background-color: #c2c258;
  border-radius: 40px;
  font-family: "Exo-Bold";
  font-size: calc(0.7em + 0.7vw);
  position: absolute; 
  bottom: 50px !important;
}
.btn-ligth-blog{
  width: 20vh;
  background-color: #ffffff;
  border-color: #c2c258;
  border-radius: 40px;
  font-family: "Exo-Bold";
  font-size: calc(0.6em + 0.6vw);
  color: #c2c258;
}




@media (max-width: 576px) {
  .rectangle-quienes-somos {
    position: relative;
    right: -20px;
    top: -45px;
    padding: 0px !important;
  }
  .rectangle-products{
    position: relative;
    left: 75px;
    top: -20px;
  }
  .rectangle-directory{
    position: relative;
    left:55px;
  }

  .img-left {
    position: relative;
    right: 0px;
    top: 0px;
    z-index: 1000;
    width: 150px;
    display: block;
    margin: auto;
  }
  .img-right {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 150px;
    display: block;
    margin: auto;
  }

  .col-content-directory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 769px) {
  
  .img-left {
    padding-top: 80px !important;
    right: 0px;
    top: 0px;
    z-index: 1000;
    width: 200px;
    display: block;
    margin: auto;
  }
  .img-right {
    padding-top: 80px !important;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 200px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 992px) {
  .img-left {
    padding-top: 80px !important;
    right: 0px;
    top: 20px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
  .img-right {
    padding-top: 80px !important;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
}

@media (max-width: 1085px) {
  .img-left {
    padding-top: 80px !important;
    right: 0px;
    top: 20px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
  .img-right {
    padding-top: 80px !important;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
}
@media (max-width: 1280px) {
  .img-left {
    padding-top: 80px !important;
    right: 0px;
    top: 20px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
  .img-right {
    padding-top: 80px !important;
    left: 0px;
    top: 0px;
    z-index: 1000;
    width: 250px;
    display: block;
    margin: auto;
  }
}
