.sidebar li.active > a {
    padding: 0px  !important;
    margin: 5px 5px  !important;
}

.sidebar .logo .simple-text {
    font-size: 16px !important;
}


.display-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

