@font-face {
  font-family: "Exo-VariableFont_wght";
  src: url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype"),
    url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Bold";
  src: url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Regular";
  src: url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Light";
  src: url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-ExtraBold";
  src: url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-Bold";
  src: url("/../../assets/fonts/Exo-Bold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.modal-title {
  font-family: "HindMadurai-Light";
  color: black;
  font-size: 16px;
}

.close-modal {
  font-family: "HindMadurai-Light";
  color: black;
  font-size: 36px;
}

.div-content-icon-mail {
  width: 100px;
  height: 100px;
  /* background-color: rgb(219, 218, 218);
  border-radius: 50%;
  border: 6px solid white; */
  background-image: url('../../../assets/img/Correo-37.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
}
.div-content-icon-mail:hover {
  background-image: url('../../../assets/img/Correo-37-hover.svg');
}

.display-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.display-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.modal-content {
  background-color: rgba(230, 230, 230, 0.973);
  min-width: 500px;
  height: 250px;
  border-radius: 15px;
}
.modal-header {
  border-bottom: 1.5px solid #cfd3d6;
}
.img-mail {
  width: 140px;
}

.title-type-mail {
  font-size: 16px;
  font-family: "Exo-Bold";
  color: #006b66;
}

.text-contact-mail {
  font-size: 11px;
  font-family: "HindMadurai-Light";
  color: #006b66;
}

@media (max-width: 768px) {
  .modal-content {
    min-width: auto !important;
    height: auto !important;
  }
}
 