<!-- Modal -->
<div class="modal fade" id="modal-contact-email" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Contactarse con :</h5>
                <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row m-0 display-row-center">
                    <div class="col-10 col-sm-10  col-md-6 col-lg-6 display-col-center">
                       <a target="_blank" href="mailto:secretaria@centrodearbitrajeymediacion.com"><div class="div-content-icon-mail">
                    </div></a> 
                        <h1 class="title-type-mail pt-2">JURÍDICO</h1>
                        <span class="text-contact-mail">secretaria@centrodearbitrajeymediacion.com</span>
                    </div>
                    <div class="col-10 col-sm-10  col-md-6 col-lg-6 display-col-center">
                        <a target="_blank" href="mailto:administracion@centrodearbitrajeymediacion.com"><div class="div-content-icon-mail">
                        </div></a>
                        <h1 class="title-type-mail pt-2">ADMINISTRACIÓN</h1>
                        <span class="text-contact-mail">administracion@centrodearbitrajeymediacion.com</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<!-- MODAL + ELEMENTO FIJO WHATSAPP + TEXTO EXTENSO EN ARBITRAJE Y MEDIACIÓN-->