@font-face {
  font-family: "Exo-VariableFont_wght";
  src: url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype"),
    url("/../../assets/fonts/Exo-VariableFont_wght.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Bold";
  src: url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Regular";
  src: url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HindMadurai-Light";
  src: url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Light.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-ExtraBold";
  src: url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-ExtraBold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Exo-Bold";
  src: url("/../../assets/fonts/Exo-Bold.woff") format("opentype"),
    url("/../../assets/fonts/Exo-Bold.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




.contacts-subtitle{
  font-size: 24px;
  font-family: "Exo-Bold";
  color: #c2c258;
}

.display-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.justify-content-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}

.menu{
  font-size: 18px;
  font-family: "HindMadurai-Regular";
  color: #00504c;
}

.img-location-title {
  position: relative;
  top: -30px;
  left: 12px;
  width: 50px;
}

.row-content-footer {
  background-color: rgb(240, 240, 240);
}

.logo {
  width: 150px;
}
.cursor-pointer {
  cursor: pointer;
}

.option-menu:hover {
  color: #c5c258;
}
.text-content-footer {
  text-align: justify !important;
}
@media (max-width: 576px) {
  
.contacts-subtitle{
  font-size: 20px;

}

.menu{
  font-size: 15px;
}
.row-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.col-content-object {
  display: none;
}
}

@media (max-width: 769px) {
  .col-content-menu {
    display: none;
  }
  .img-location-title {
    left: 0px;
    width: 30px;
}
}

@media (max-width: 992px) {}

@media (max-width: 1280px) {}