<div class="sesion-footer">
    <div class="mt-5">
        <div class="row display-row-cente row-w-80 mx-auto text-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 no-padding">
                <img class=" text-center p-5" width="100%" alt="logo" src="../../../assets/img/Logo Footer.svg">
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-4 " >
                <div class="col-sm-12 pl-5 pt-5 text-left">
                    <img class="  img-fluid img-location-title" width="95" height="95"
                        alt="PRODUCTOS Y SERVICIOS" src="../../../assets/img/Separador1.svg">
                    <span class="contacts-subtitle" style="margin-top: 25px !important; ">MENÚ</span>
                    <div class="rectangle-directory"></div>

                    <div class="row display-row-cente row-w-80 mx-auto text-center">
<div class="col-sm-1"></div>
<div class="col-sm-9"> <div class="text-left pl-5">
    <p class="menu">- Inicio</p>
    <p class="menu">- Productos y Servicios</p>
    <p class="menu">- ¿Quiénes somos?</p>
    <p class="menu">- Directorio</p>
    <p class="menu">- Blog</p>
    <p class="menu">- Contactos</p>
</div>  </div>
<div class="col-sm-2"></div>

                    </div>
                   
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 text-center" >
                <div class="col-sm-12 pt-5 text-center">
                    <img class="  img-fluid img-location-title" width="95" height="95"
                        alt="PRODUCTOS Y SERVICIOS" src="../../../assets/img/Separador1.svg">
                    <span class="contacts-subtitle" style="margin-top: 25px !important; ">NUESTRO OBJETIVO</span>
                    <div class="rectangle-directory"></div>

                    <div class="text-left">
                        <p class="menu">Emplear eficiente y efectivamente los medios alternativos para lograr la prevención, administración y transformación de los conflictos, en aras de garantizar la paz. Potenciar nuetsra actividad a traves del uso de la tecnología, la difusión, capacitación y gestión de proyectos.</p>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>