<div class="sesion-footer">
        <div class="row display-row-cente row-w-80 mx-auto row-content-footer mt-3">
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 p-0 no-padding display-row-center">
                <img class=" text-center logo" width="100%" alt="logo" src="../../../assets/img/Logo Footer.svg">
            </div>

            <div class="col-10 col-sm-10 col-md-4 col-lg-4 col-content-menu">
                <div class="col-sm-12 p-0 pt-5 text-left">
                    <img class="  img-fluid img-location-title"  alt="PRODUCTOS Y SERVICIOS"
                        src="../../../assets/img/Separador1.svg">
                    <span class="contacts-subtitle" style="margin-top: 25px !important; ">MENÚ</span>
                    <div class="rectangle-directory"></div>

                    <div class="row display-row-cente row-w-80 mx-auto text-center">
                        <div class="col-sm-0 col-md-1 col-lg-1"></div>
                        <div class="col-sm-10 col-md-9 col-lg-9 p-0">
                            <div class="text-left ">
                                <p (click)="viewSection('#home')" class="menu m-0 cursor-pointer option-menu">- Inicio</p>
                                <p (click)="viewSection('#products')" class="menu m-0 cursor-pointer option-menu">- Productos y Servicios</p>
                                <p (click)="viewSection('#about')" class="menu m-0 cursor-pointer option-menu">- ¿Quiénes somos?</p>
                                <p (click)="viewSection('#directory')" class="menu m-0 cursor-pointer option-menu">- Directorio</p>
                                <p (click)="viewSection('#blog')" class="menu m-0 cursor-pointer option-menu">- Blog</p>
                                <p (click)="viewSection('#contact')" class="menu m-0 cursor-pointer option-menu">- Contactos</p>
                            </div>
                        </div>
                        <div class="col-sm-2"></div>

                    </div>

                </div>
            </div>
            <div class="col-10 col-sm-6 col-md-4 col-lg-4 col-content-object">
                <div class="col-sm-12 pt-5 ">
                    <img class="  img-fluid img-location-title"  alt="PRODUCTOS Y SERVICIOS"
                        src="../../../assets/img/Separador1.svg">
                    <span class="contacts-subtitle">NUESTRO OBJETIVO</span>
                    <div class="rectangle-directory"></div>

                    <div class="text-left text-content-footer">
                        <p class="menu">Emplear eficiente y efectivamente los medios alternativos para lograr la
                            prevención, administración y transformación de los conflictos, en aras de garantizar la paz.
                            Potenciar nuestra actividad a traves del uso de la tecnología, la difusión, capacitación y
                            gestión de proyectos.</p>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="row m-0 bg-white display-row-center pt-3 pb-3 ">
    <img class="logo-nikola" width="100%"  src="../../../assets/img/LogoNikolaSoft Negro.svg">
</div>