@font-face {
  font-family: "HindMadurai-Regular";
  src: url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype"),
    url("/../../assets/fonts/HindMadurai-Regular.woff") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.bg-color-solid {
  background-color: #026568f5 !important; 
  color: white !important ;
  min-height: 60px !important;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
.bg-color-menu-responsive {
  background-color:  white !important; 
  color:  #026568f5!important ;
}

.bg-transparent {
  background-color: transparent ;
  min-height: 60px;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  color: white  ;
}

.bg-transparent a {

  color: white  ;
} 

.bg-nav-two {
  background-color: transparent !important;
  color:#026568f5 !important ;
  min-height: 60px !important;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  font-family: "HindMadurai-Regular";
  font-weight: bold;
}

.bg-color-two {
  background-color: white !important; 
  color:#026568f5 !important ;
  min-height: 60px !important;
  -webkit-transition: all 0.5s 0s ease;
  -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
  font-family: "HindMadurai-Regular";
  font-weight: bold;

}

.navbar .navbar-nav .nav-item .nav-link {
  padding: 13px !important; 
  /* color: none !important; */
}

.icon-bar {
  color: white ;
}
.icon-bar-2 {
  color: #026568f5 ;
}

.nav-bar-style {
  background-color: transparent  !important;
  box-shadow: none !important;
}
.navbar-toggler .icon-bar {
  display: block;
  position: relative;
  background: transparent !important;
  width: 24px;
  height: 2px;
  border-radius: 1px;
  margin: 0 auto;
}
.nav-link {
  /* color: white !important; */
  font-weight: none !important;
  border-bottom: solid 4px transparent !important;
  font-size: 15px;
 

}
.navbar .collapse .navbar-nav .nav-item .nav-link {
  text-transform: none;
  font-family: "HindMadurai-Regular";
  text-transform: none;
  font-size: 14px;
}

.display-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.display-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.logo-navbar {
  width: 200px;
}

.active .nav-link {
  border-bottom: solid 3px #c2c258 !important;
  background: none !important;
  border-radius: 3px !important;
  /* -moz-transition: all 0.5s 0s ease;
  -o-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease; */
}

.display-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  justify-items: flex-end;
}

.display-col-end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: center;
  justify-items: flex-end;
}
.navbar-menu {
  box-shadow: none !important;
  border: 0;
  border-radius: 0px;
  padding: 0.625rem 0;
  margin-bottom: 20px;
  padding-top: 10px;
  background-color: none;
}

.navbar {
  background-color: none;
}

.btn-primary {
  text-transform: none !important;
}
@media (max-width: 576px) {
  .logo-navbar {
    width: 150px;
  }
}