<nav id="navbarIndex" class="navbar fixed-top navbar-expand-lg navbar-transparent bg-light">
    <img src="../../../assets/img/Logo Header.svg" class="logo-navbar ml-5" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="text-center collapse navbar-collapse display-row-center display-col-center ml-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link" href="#">Productos y Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">¿Quiénes Somos?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cotizar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Directorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">
            <button class="btn btn-sm btn-primary">
              Iniciar Sesión
            </button>
          </a>
        </li> -->
      </ul>
      
    </div>
    <button class="btn btn-sm btn-primary ml-5 mr-5">
      Iniciar Sesión
    </button>
  </nav>